@font-face {
    font-family: "甜甜圈海报字体";
    src: url("Candyhome.eot"); /* IE9 */
    src: url("Candyhome.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Candyhome.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("Candyhome.woff") format("woff"), /* chrome, firefox */
    url("Candyhome.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Candyhome.svg#甜甜圈海报字体") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


